.author__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author__name {
    padding: 0 40px 0 40px; 
    font-style: italic;
    font-weight: 900;
    @include large-breakpoint {
        text-align: center;
    }
}

.author__list {
    list-style: none;
    padding: 0 40px 0 40px; 
    @include large-breakpoint {
        text-align: center;
    }
}

.author__link {
    
    text-decoration: none;
    color: $spanish-pink;

    &--hover:hover {
        color: $light-gray
    }
    &--active:active {
        color: $platinum

    }
}

