.footer {
    background: $eerie-black;
    text-align: center;
    padding: 5rem 1rem;
    
    img {
        max-width: 9.4rem;
        @include large-breakpoint {
            max-width: 6,25rem;
        }
    }
}